@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.chat {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  width: 100%;
}

span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.reciever {
  padding: 8px;
  border-radius: 8px;
  background-color: #202c33;
  align-self: flex-start;
}

.sender {
  padding: 8px;
  border-radius: 8px;
  background-color: #005c4b;
  align-self: flex-end;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-bottom-color 0.3s ease;
  outline: none;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input:focus {
  border-bottom-color: #007bff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003d80;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
